node_modules
dist
dist-ssr
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# rust / tauri
src-tauri/target
src-tauri/Cargo.lock

# env / secrets
.env
.env.local
*.log
